
header.mobile{
    background-color: rgb(230, 227, 227);
    width: 100%;
}

header.mobile nav{
    width: 100%;
    display: flex; align-items: center; flex-direction: row; justify-content: center;
}

header.mobile nav>div{width: 100%;}

header.mobile .logo.outer{
    width: 50%;
    padding: 20px 0;
    padding-bottom: 10px;
    margin-right: 0;
}


header.mobile nav button{
    background-color: transparent; border: 0; outline: 0;
    margin: 0 10px; cursor: pointer;
}
header.mobile nav button.menu_icon{
    height: 25px; width: auto;
    margin-right: auto;
    margin-left: 10px;
}
header.mobile nav button.cart_icon{
    margin-left: auto; margin-right: 10px;
}
.cart_icon > img:nth-child(1){
    height: 30px;width: auto;
}


/* Innards */
header.mobile .links.outer{
    position: fixed; top: 0; right: -200px; z-index: 9999;
    width: 200px; height: 120vh; 
    background-color: white;
    transition: all 200ms ease-out;
}
header.mobile .links.outer#visible{
    right: 0;
}