
section.collections, .collections.inner.container{width: 100%}

section.collections{max-width: 2000px; min-height: 500px}

.collections.inner.container{
    display: flex; align-items: center; justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    height: 500px;
    position: relative;
    margin: 100px 0;
    width: 90%;
}


.collections.inner.container img{width: 100%}