
section.collections, .collections.inner.container{width: 100%}

section.collections{max-width: 2000px; min-height: 500px}

.collections.inner.container{
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 900px;
    position: relative;
}

