/* Top section */
footer{width: 100%; display: flex; flex-direction: column; align-items: center; background-color:rgb(230, 227, 227); margin-top: auto}
footer .top_section.outer{
    width: 100%; height: 200px;
    display: flex; justify-content: center; align-items: center;
    background-color: black;
    display: flex;
}
footer .top_section.outer>*{
    color: white;
    font-size: 0.9em;
}
footer .top_section.outer h4{
    font-weight: 700;
    width: 10%;
}
footer .top_section.outer p{
    width: 70%;
    margin-left: auto;
    display: flex; align-items: center;
    height: 100%;
}

/* Bottom section */
footer .bottom_section.outer{
    width: 85%;
    margin-top: 80px; margin-bottom: 50px;
    border-bottom: 1px solid rgb(37, 37, 37);
    display: flex; justify-content: space-between;
}
footer .bottom_section.outer ul{
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 30px;
}
footer .bottom_section.outer a{font-size: 0.8em; color: rgb(29, 29, 29);}
footer .bottom_section.outer h5{font-size: 0.9em; font-weight: 700; margin-bottom: 5px;}
footer .bottom_section.outer a:focus{ border-bottom: 1px solid black; outline: 0;}
footer .bottom_section.outer h5:focus{ outline: 1px solid black;}

@media all and (max-width: 800px){
    footer .bottom_section.outer{width: 95%;}
}
@media all and (max-width: 500px){
    footer .bottom_section.outer{
        flex-direction: column;
    }
}