.collections.container.outer, .collections.container.inner{
    width: 100%;
}
.collections.container.inner{
    display: flex; align-items: center; justify-content: center; gap: 5px;
}

.collections.collection_wrap.outer{
    height: 500px; width: 40%;
    background-color: black;
    transition: width 200ms ease-out;
    margin: 70px 0;
    overflow: hidden;
    flex-shrink: 1;
}
.collections.collection_wrap.outer:hover{
    width: 50%;
}
.collections.collection_wrap.outer:focus{
    outline: 2px black solid;
}
.collections.collection_wrap.outer img{
    width: 800px;
}

/* Animations */
.collections.container.inner.to-animate>a{
    transform: translateY(15%)
}
.collections.container.inner.animate-now>a:first-child{
    transition: transform 0.4s ease-out , width 100ms ease-out ;
    transform: translateY(0)
}
.collections.container.inner.animate-now>a:last-child{
    transition: transform 0.4s ease-out 0.2s, width 100ms ease-out;
    transform: translateY(0)
}