.credentials.container.inner .register.outer{
    width: 90%;
    margin-top: 30px;
    display: flex; align-items: center; flex-direction: column;
}
.credentials.container.inner .register.outer h4{
    font-size: 1.1em; width: 100%; text-align: center;
}

/* Form elements */
.credentials.container.inner .register.outer form{
    width:  100%;
    margin-top: 40px;
    display: flex; flex-direction: column;align-items: center; 
}

.credentials.container.inner .register.outer div.form-element{
    height:35px;
    outline: 1px solid black;
    position: relative;
    display: flex; align-items: center; 
    cursor: text;
    margin-bottom: 20px;
}
.credentials.container.inner .register.outer div.form-element:last-of-type{margin-bottom: 40px}

.credentials.container .register.outer .termsConditions{
    width: 430px;
    text-align: left;
    font-size: 0.8em;
}
.credentials.container .register.outer .last{
    width: 430px; height: 50px;
    background-color: black;
    color: white;
    margin-top: 10px;
    outline: none; border: 0;
    cursor: pointer;
}
.credentials.container .register.outer .last:hover{background-color: rgb(21, 21, 21)}

.credentials.container .register.outer .last.login{
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
}
.credentials.container .register.outer .last.login:hover{background-color: rgb(135, 135, 135)}

/* Form inputs */
.credentials.container .form-element input{
    border: 0; outline: 0; padding: 0 15px;
    width: 400px; height: 100%;
    background-color: transparent;
}  
.credentials.container .form-element label{
    position: absolute;
    left: 10px;
    font-size: 0.9em;
    background-color: transparent;
    padding: 0 5px;
    transition: transform 130ms ease-out;
    cursor: text;
} 

/* Text animations */
/* Email and common background*/
.credentials.container .form-element input:focus ~ label{
    transform: scale(0.8) translate(-11px, -23px);
    background-color: white;
}
.credentials.container .form-element label.move {
    transform: scale(0.8) translate(-11px, -23px);
    background-color: white;
}
/* Password */
.credentials.container .form-element:nth-child(2) input:focus ~ label{transform: scale(0.8) translate(-15px, -23px);}
.credentials.container .form-element:nth-child(2) label.move{transform: scale(0.8) translate(-15px, -23px);}
/* Renter */
.credentials.container .form-element:nth-child(3) input:focus ~ label{transform: scale(0.8) translate(-20px, -23px);}
.credentials.container .form-element:nth-child(3) label.move{transform: scale(0.8) translate(-20px, -23px);}


