
.large.container.inner{
    width: 90%; max-width: 1980px;
    display: flex; align-items: center; justify-content: center;
    height: 50vw; 
    margin: 70px 0;
    overflow: hidden;
    background-color: black;
    position: relative;
}

section.large img{
    width: 100%;
}
.large1.inner{
    margin-top: 100px;
    margin-bottom: 70px;
}
.large1.inner img{transform: translateY(5vw)}

@media all and (max-width: 700px){
    .large.container.inner{
        margin: 50px 0;
        height: 400px;
    }
    section.large img{
        width: 900px;
    }

    section.large1 .inner img{transform: translateY(80px)}
    section.large2 img{
        position: absolute; 
        left: 0;
        height: 105%; width: auto;
    }
}
@media all and (max-width: 300px){
    section.large2 img{left: -15vw}
}

/* Large 1 text */
section.large .text{
    position: absolute; z-index: 99; top: 0; left: 0;
    height: 100%; width: 100%;
}
section.large1 .text h3{
    font-size: 6vw; color: #e71b1b ;
    font-family: 'Playfair Display', serif;
    /* transform: translateX(-400px) */
}