*{
    margin:0; padding: 0;
    font-size: 16px; font-weight: normal; color: black;
    text-decoration: none; list-style: none;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: white;
    overflow: visible;
    position: relative;
    display: flex; flex-direction: column;
}

#root{
    display: flex; flex-direction: column;    min-height: 100vh;
}

.center{
    display: flex; align-items: center; justify-content: center;
}
