.searchresults.outer.container{
    min-height: 500px;
}

/* Loading Icon */
.searchresults.outer.container#SearchResultsLoading{display: flex; justify-content: center; height: 500px;}
.loader{
    margin-top: 100px; margin-left: -40px;
}