.searchresults.outer.container {
  margin-top: 100px;
  margin-bottom: 50px;
} 

/* Product template */
.searchresults.outer.container .product_items{
  width: 90%;
}


/* Loading Icon */
.searchresults.outer.container#SearchResultsLoading {
  display: flex;
  justify-content: center;
  height: 80vh;
  min-height: 300px;
  max-height: 400px;
  align-items: center;
}

.searchresults.outer.container#SearchResultsLoading .loader {
  /* transform: translateX(0.5vw) */
}
