.searchresults.outer.container {
  margin-top: 40px;
  margin-bottom: 50px;
} 

/* Product template */
.searchresults.outer.container .product_items{
  width: 95%;   /*Overrider*/ max-width: 2000px;
}


/* Loading Icon */
.searchresults.outer.container#SearchResultsLoading {
  display: flex;
  justify-content: center;
  height: 80vh;
  min-height: 300px;
  max-height: 400px;
  align-items: center;
}
