
.landing.container.outer{
    height: 95vh; min-height: 500px; width: 100%; max-height: 900px; position: relative;
    overflow: hidden;
}

.landing.container.outer img{
    width: 1980px;
}

/* Text section */
.landing.container .landing.text.outer{
    position: absolute;
    /* left: 10vw; bottom: 10vw; */
    display: flex; align-items: center; flex-direction: column;
}

.landing.container .landing.text.outer h2{
    font-size: 4em;  font-weight: 700; color: white; 
    margin-bottom: 30px;
}
.landing.container .landing.text.outer a {
    width: 250px; height: 50px; color: white; font-weight: 500; font-size: 1.5em; 
    background-color: rgb(255, 26, 26);
}


/* Image widths */
@media all and (max-width: 1500px){
    .landing.container.outer img{ width: 1700px}
}
@media all and (max-width: 1000px){
    .landing.container.outer img{ width: 1400px}

    .landing.container .landing.text.outer h2{
        font-size: 3em;
    }
    .landing.container .landing.text.outer a {
        width: 200px; height: 40px;
    }
}
@media all and (max-width: 700px){
    /* .landing.container.outer{max-height: 700px;} */
    .landing.container.outer img{ height: 100%}

    .landing.container .landing.text.outer h2{
        font-size: 2em;
        margin-bottom: 20px;
    }

    .landing.container .landing.text.outer a {
        width: 150px; height: 30px; font-size: 1em; 
    }
}