
.credentials.container.outer{
    position: fixed; z-index: 1000;
    height: 40vw; width: 40vw; max-height: 500px; min-height: 400px; max-width: 500px; min-width: 500px;
    top: 130px; left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}